label.input-field {
    display: block;
}

.input-field {
    header.label,
    footer.information,
    :deep(strong.validation-error) {
        font-size: 0.875em;
        line-height: 2em;
    }

    main {
        display: grid;
        column-gap: 0.5em;
        row-gap: 0.5em;
    }

    main,
    fieldset {
        &.input,
        & .input {
            height: 3.375em;
        }
    }

    footer.information,
    :deep(strong.validation-error) {
        display: flex;
        justify-content: space-between;
    }
}
