[data-test-id='sandbox-render'] {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    input.text-input {
        color: black !important;
    }

    [data-v-app] > .show-grid {
        border: 2px dashed #a3dbd9;
        padding: 2px;

        > * {
            border: 2px dashed #00bab3;
        }
    }
}
